/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, canvas {
    width: 100%;
    height: 100%;
    display: block;
}

body {
    overflow: hidden;
    background: #111;
}
